<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2"><br><br>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add a title" class="form-control" required>
            <div class="valid-feedback">Title Looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]"  class="form-control" required></textarea>
            <div class="invalid-feedback">Please Enter valid Description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="listing[image]"  class="form-control" required> 

        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control" required>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
            <div class="invalid-feedback">Please Enter valid Location</div>
        </div>
    </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
            <div class="invalid-feedback">Please Enter valid Country</div>
        </div>
        <button class="btn btn-dark add-btn mb-3">Add</button>   
    </form>
</div>
</div>
</body>
